/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FDFDFD;
  color: #2C2C2C;
  line-height: 1.5;
}

header {
  background-color: #9C2C3D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu ul li {
  margin-right: 20px;
}

.nav-menu ul li a {
  color: #F3F3F3;
  text-decoration: none;
}

section {
  padding: 40px;
  background-color: #F8F8F8;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me-content,
.project-row,
.tech-stacks-list,
.repo-container,
.competitive-box,
.article-box,
.contact-box {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

.project-item img {
  width: 400px;
}

.tech-stacks-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
}

.tech-stacks-list li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 10px;
}

footer {
  background-color: #2C2C2C;
  color: #F3F3F3;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    width: 40px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu ul {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #9C2C3D;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease;
  }

  .nav-menu ul li {
    margin-right: 0;
  }

  .nav-menu ul li a {
    color: #F3F3F3;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-menu ul.show {
    left: 0;
  }
}


/* About Me Section */
#about-me {
  background-color: #eef5fa; /* Very light blue */
  padding: 50px;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-image {
  margin-right: 50px;
}

.about-me-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-me-text h2 {
  font-weight: bold;
  color: #333333; /* Black */
}

.about-me-text p {
  margin-bottom: 20px;
}

.about-me-text ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-me-text ul li {
  margin-bottom: 10px;
}


.about-me-section {
  display: flex;
  align-items: center;
  background-color: rgba(146, 193, 208, 0.3); /* Very light blue */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}


.profile-picture {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.profile-picture img {
  width: 200px;
  border-radius: 50%;
}

/* Projects Section */

.project {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f0ff; /* Extremely light purple */
}

.project h3 {
  font-weight: bold;
  color: #333333; /* Black */
}

.project p {
  margin-bottom: 10px;
}

.project a {
  color: #333333; /* Black */
}

.project img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.education-section {
  background-color: rgba(230, 230, 250, 0.3); /* Extremely light purple */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.skills-section {
  background-color: rgba(173, 216, 230, 0.3); /* Very light blue */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



.repo-container,
.contact-box {
  background-color: rgba(0, 0, 0, 0.1); /* Background tint */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
