/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FDFDFD;
  color: #2C2C2C;
  line-height: 1.5;
}

header {
  background-color: #9C2C3D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu ul li {
  margin-right: 20px;
}

.nav-menu ul li a {
  color: #F3F3F3;
  text-decoration: none;
}

section {
  padding: 40px;
  background-color: #F8F8F8;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me-content,
.project-row,
.tech-stacks-list,
.repo-container,
.competitive-box,
.article-box,
.contact-box {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

.project-item img {
  width: 400px;
}

.tech-stacks-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
}

.tech-stacks-list li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 10px;
}

footer {
  background-color: #2C2C2C;
  color: #F3F3F3;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    width: 40px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu ul {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #9C2C3D;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease;
  }

  .nav-menu ul li {
    margin-right: 0;
  }

  .nav-menu ul li a {
    color: #F3F3F3;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-menu ul.show {
    left: 0;
  }
}
